@model IEnumerable<ApprovalBySuperior.Models.Departments>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Depname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Groupname)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Depname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Groupname)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Depid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Depid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Depid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    <a asp-controller="Users" asp-action="Index">Back to Users</a>
</div>
