@model IEnumerable<ApprovalBySuperior.Models.Positions>

@{
    ViewData["Title"] = "役職一覧";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Positionname)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Positionname)
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Positionid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Positionid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Positionid">Delete</a>
            </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-controller="Users" asp-action="Index">Back to Users</a>
</div>