@model IEnumerable<ApprovalBySuperior.Models.UsersViewModel>

@{
    ViewData["Title"] = "ユーザ一覧";
}

<h2>Index</h2>

<p>
    <a asp-controller="Positions" asp-action="Index">To Positions</a>
</p>
<p>
    <a asp-controller="Departments" asp-action="Index">To Departments</a>
</p>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Userid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Positionname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Depname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Groupname)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Userid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Positionname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Depname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Groupname)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Userid">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Userid">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Userid">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
